.navbar-brand {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
}

body {
  padding-top: 100px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.bottom {
  padding-bottom: 20px;
}

#home-quote {
  background: url("../img/bg-quote.jpg") center center;
  background-size: cover;
}

@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 2.5rem;
  }
}

.lista-plano li {
  padding: 1rem;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.color {
  color: white;
}
